<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Default.HelloWorld">
      <methods>
      <include name="Demo1"></include>
      </methods>
      </class>
      <class name="Default.HelloWorld2">
      <methods>
      <exclude name="Demo.*"></exclude>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
